@{
    ViewData["Title"] = "Home Page";
}
<br>
<!DOCTYPE html>
<html>
<head>
    <title>Радиостаниция</title>
</head>
<body>

    <div id="headerwrap">
    </div>


    <div class="coutainer" margin-top="-50px">
        <p>
            Предпосылки возникновения радио

            Первые предпосылки относительно существования электромагнитных волн возникли еще в конце 1600-х годов. Спустя два столетия были официально открыты ультрафиолетовое и инфракрасное излучения. В 30-х годах XIX столетия ученый из Англии Майкл Фарадей с большой уверенностью заявил о существовании электромагнитных волн. Спустя еще 30 лет другой ученый из Великобритании Джеймс Максвелл закончил построение теории электромагнитного поля, которая нашла свое применение в физике.

            В 1880-1890-х гг. произошли еще некоторые открытия, которые позволили приблизить то время, когда будет создано полноценное радио. Так, физик из Германии Генрих Герц доказал существование электромагнитных волн с помощью эксперимента. В последующие годы сразу несколько ученых повторяли данный эксперимент, при этом используя более усовершенствованные элементы для обнаружения электромагнитных волн.

            Электромагнитные волны – основа радио
            Изобретение радио

            В 1898 году сэр Оливер Джозеф Лодж получил патент на использование определенных элементов в беспроводных передатчиках или приемниках. Полученный патент стал в основе механизма для настройки радио на требуемую частоту. Примечательно, что дальнейших исследований в этой области Лодж не стал проводить, в результате чего честь носить звание изобретателя первого радио досталась русскому физику, профессору, электротехнику Александру Степановичу Попову.

            Именно Попов первым сумел продемонстрировать возможность передавать радиосигнал, который бы нес в себе определенную информацию. С этого времени и открывается эпоха создания средств радиотехники.

            Александр Попов сумел передать первый радиосигнал
            Спорные моменты в истории

            В истории радио не обошлось и без казусов. В настоящее время сразу несколько стран претендуют на то, что именно их ученый изобрел радио. В Германии говорят о том, что заслуга принадлежит исключительно Генриху Герцу, в США вам скажут, что радио изобрел Томас Эдисон и т.д.

            Как бы там ни было, в 1872 году первый в истории патент на беспроводную связь получил Малон Лумис.

            Кто изобрел радио на самом деле?
            Современное радиовещание

            В 1906 году канадец Реджинальд Фессенден осуществил первую трансляцию радиопрограммы, в которой лично играл на скрипке и прочел небольшой текст из Библии. С того времени голосовое радиовещание стало развиваться с каждым годом все больше и больше. Появлялись новые развлекательные радиопередачи, вещание производилось на широкую аудиторию.

            В 1918 году Эдвин Армстронг представил супергетеродин, способствующий улучшению чувствительности радиоприемных устройств в широком диапазоне частот. Спустя более 15 лет тот же американский ученый запатентовал FM-радио, которое использует частотную модуляцию, позволяющую уменьшить помехи в эфире.

            FM-радио было запатентовано в 1918 году

            В самом начале 80-х годов XX столетия начали проводиться работы в сфере создания цифрового радиовещания, что сделало очередной переворот в истории радио.

            В настоящее время трудно найти человека, который никогда не слушал радио. В то же время мало кто задумывается над тем, кто его изобрел, чего это стоило тем людям, которые потратили многие годы своей жизни ради технического прогресса.

            Сегодня радио остается одним из наиболее распространенных средств вещания, несмотря на развитие телевизионных технологий, компьютерной техники и т.п. Радиоэфир по-прежнему заполнен звуками, которые, как кажется, никогда не закончатся.
    </div>
</body>
</html>




































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































